* {
  font-family: Menlo, Consolas, monospace;
  font-size: 13px;
  box-sizing: border-box;
  text-transform: uppercase;
}

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: hsl(0, 0%, 10%);
  // background: black;

  overflow: hidden;
}

::selection {
  background: #ffffff33;
}

.main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  overflow: hidden;

  .box-container {
    // max-width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    // flex-direction: column; // ON SMALL DEVICES

    .box {
      $size: 400px;
      $margin: 50px;

      margin: $margin / 2;

      height: $size / 2;
      // width: $size;

      border-radius: 10px;
      overflow: hidden;

      pointer-events: none;
      user-select: none;

      img {
        height: 100%;
      }
    }
  }
}

// MENU
.form-container {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;

  label {
    color: #aaa;
    user-select: none;
    cursor: pointer;
  }

  input {
    margin: 0.7rem 1rem;
    margin-left: 0;
  }
}

.text-input {
  z-index: 10;

  position: absolute;

  $percent: 0.45;
  bottom: calc(50% - 100px - (50% - 100px) * $percent);
  border-radius: 4px;
  overflow: hidden;
  // width: 100%;

  input {
    border: none;
    outline: none;

    width: 100%;
    padding: 6px 10px;
    margin: 0;

    text-align: center;
    background: transparent;
    background: hsl(0, 0%, 13%);
    // border-bottom: medium solid hsl(0, 0%, 15%);

    color: #ccc;
  }
}

.score-meter {
  z-index: 100;
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 8px 16px;
  // margin: 5px;

  color: hsl(0, 0%, 30%);
  // background: red;
}

.progress-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;

  #progressBar {
    width: 40%; // will be set programatically
    height: 2px;
    background: hsl(0, 0%, 25%);
    transition: width 0.3s;
  }
}

.mr-worldwide {
  z-index: -10;

  position: absolute;
  right: 5px;
  bottom: 22px; // 20px

  overflow: hidden;

  // border: 2px solid red;

  img {
    width: 35px;
    opacity: 0.7;

    transform: translateY(100%);
    transition: transform 1s;
  }

  &.show img {
    transform: translateY(0);
  }
}

.btn {
  cursor: pointer;

  background: #eee;
  border: none;
  border-radius: 5px;

  &:hover {
    background: #ccc;
  }

  &:active {
    background: #aaa;
  }
}

.btn-dim {
  background: #333;
}

.open-menu-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

button.preload-imgs-btn {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

.preload-container {
  position: absolute;

  progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 250px;
    height: 4px;
    border-radius: 20px;
    overflow: hidden;
  }

  progress[value]::-webkit-progress-bar {
    background: #444;
  }

  progress[value]::-webkit-progress-value {
    background-color: #aaa;
  }
}

// --- GENERAL styles

.hidden {
  display: none !important;
}

.opacity-0 {
  opacity: 0;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-7px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
