<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Besedle</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="main" hidden>
      <div id="guess-grid-container">
        <div id="guess-grid">
          <div class="row" :class="{fixed:row.fixed,full:row.full}" v-for="row of guesses" @click="openDefinition(row)">
            <div class="letter" :class="[letter.status, {active: letter.active}]" v-for="letter of row.letters">
              <div class="front">{{ letter.value }}</div>
              <div class="back">{{ letter.value }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div id="keyboard"></div> -->
    </div>

    <script src="js/vue.global.prod.js"></script>
    <script src="js/alea.min.js"></script>
    <script src="js/wordlist.min.js"></script>
    <script src="js/classes.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
