<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- PRELOAD FONTS -->
    <link rel="preload" href="fonts/lexend-v18-latin-ext-500.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="fonts/lexend-v18-latin-ext-600.woff2" as="font" type="font/woff2" crossorigin />

    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png" />
    <link rel="manifest" href="img/site.webmanifest" />
    <!-- <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5" /> -->
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="Besedle" />
    <meta name="application-name" content="Besedle" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="img/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Primary Meta Tags -->
    <title>Besedle</title>
    <meta name="title" content="Besedle" />
    <meta name="description" content="Ugani vsak dan novo besedo!" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.vodnibivol.org/besedle/" />
    <meta property="og:title" content="Besedle" />
    <meta property="og:description" content="Ugani vsak dan novo besedo!" />
    <meta property="og:image" content="https://www.vodnibivol.org/besedle/img/og_preview.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.vodnibivol.org/besedle/" />
    <meta property="twitter:title" content="Besedle" />
    <meta property="twitter:description" content="Ugani vsak dan novo besedo!" />
    <meta property="twitter:image" content="https://www.vodnibivol.org/besedle/img/og_preview.png" />
  </head>
  <body>
    <div id="main" cloak>
      <div id="guess-grid-container">
        <div id="guess-grid" :class="{ finished }">
          <div id="msg">
            <a :href="lost ? `https://fran.si/iskanje?query=${target}` : null" target="_blank">{{ msg }}</a>
          </div>

          <!-- ROW template -->
          <template v-for="row of guesses">
            <a :href="row.fixed ? `https://fran.si/iskanje?query=${row.value}` : null" target="_blank">
              <div class="row" :class="{fixed:row.fixed,full:row.full,correct:row.correct}" :data-id="row.id">
                <!-- LETTER template -->
                <template v-for="letter of row.letters">
                  <div class="letter" :class="[letter.status, {active: letter.active}]" :data-id="letter.id">
                    <div class="front">{{ letter.value }}</div>
                    <div class="back">{{ letter.value }}</div>
                  </div>
                </template>
              </div>
            </a>
          </template>
        </div>
      </div>

      <!-- for mobile -->
      <div class="keyboard-container" v-show="keyboardOpen">
        <div id="keyboard">
          <div class="keyboard-row">
            <div class="letter" v-for="l of 'qwertyuiopš'" :data-value="l" @click="onKeyDown({key:l})">{{ l }}</div>
          </div>
          <div class="keyboard-row">
            <div class="letter" v-for="l of 'asdfghjklčž'" :data-value="l" @click="onKeyDown({key:l})">{{ l }}</div>
          </div>
          <div class="keyboard-row">
            <div class="letter size-double enter" data-value="Enter" @click="onKeyDown({key:'Enter'})">enter</div>
            <div class="letter" v-for="l of 'zxcvbnm'" :data-value="l" @click="onKeyDown({key:l})">{{ l }}</div>
            <div class="letter size-double" data-value="Backspace" @click="onKeyDown({key:'Backspace'})">
              <!-- prettier-ignore -->
              <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="20"><path fill="black" d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H7.07L2.4 12l4.66-7H22v14zm-11.59-2L14 13.41 17.59 17 19 15.59 15.41 12 19 8.41 17.59 7 14 10.59 10.41 7 9 8.41 12.59 12 9 15.59z"></path></svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/vue.global.prod.js"></script>
    <script src="js/alea.min.js"></script>
    <script src="js/wordlist.min.js"></script>
    <script src="js/classes.js"></script>
    <script src="js/Shortcuts.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
