* {
  margin: 0;
  padding: 0;

  font-family: Menlo, Consolas, monospace;
  font-size: 13px;
  box-sizing: border-box;
}

::selection {
  background: lightcoral;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: darkseagreen;
  /* darkseagreen, cadetblue, indianred */
}

.main {
  width: 80%;
  max-width: 300px;
}

#bg {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url('pattern.webp');
  background-size: 200px;
  opacity: 0.04;
}

textarea {
  width: 100%;
  height: 120px;

  padding: 1rem;
  margin: 3rem 0;

  word-break: keep-all;
  resize: none;

  background: #ffffffdd;
  border: 2px solid black;
  border-top: 8px solid black;
  opacity: 0.7;
  outline: none;
  font-weight: bold;

  border-radius: 5px;
}

textarea:focus {
  opacity: 1;
}
