@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #fafafa;

  &.modal-open {
    overflow: hidden;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

#main {
  width: 100%;
  min-height: 100%;
  top: 0;
  position: absolute;

  user-select: none;
}

#genre-selector {
  // position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  padding: 15px;
  border-bottom: 1.5px solid;
  position: sticky;
  background: #fafafa;
  z-index: 98;

  button {
    appearance: none;
    outline: none;
    line-height: 1;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
  }
}

.boxed {
  border: 1.5px solid black;
  background: white;

  &.black {
    background: black;
    color: white;
  }
}

#search-container {
  // background: lightblue;
  width: 100%;
  height: 250px;
  border-bottom: 1.5px solid;

  gap: 10px;

  input {
    width: 70%;
    max-width: 500px;
    // height: 24px;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;

    // text-transform: uppercase;
    letter-spacing: 0.2px;
    box-shadow: 3px 3px 0 lightblue;
    outline: none;

    &::placeholder {
      color: black;
      opacity: 0.3;
    }

    &:focus-within {
      background: lightgoldenrodyellow;
    }
  }

  button {
    // height: 24px;
    padding: 7px 12px;
    border-radius: 50px;
    font-size: 18px;
    // line-height: 1;
    font-weight: 100;
    // font-family: Monaco, sans-serif;
    box-shadow: 3px 3px 0 lightpink;
  }
}

hr {
  width: 60%;
  border: none;
  border-bottom: 1px solid #ddd;
}

#msg-container {
  width: 100%;
  text-align: center;
  height: 200px;
}

#results-container {
  width: 100%;
  padding: 30px;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  gap: -1.5px;

  border-bottom: 1.5px solid;

  .recording {
    position: relative;

    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
    max-width: 400px;
    margin: auto;
    cursor: pointer;
    // padding: 10px;
    box-shadow: 3px 3px 0 #bbb;

    border: 1.5px solid;

    &:hover {
      transform: scale(1.02);
      box-shadow: 3px 3px 0 #ddd;
    }

    .img-container {
      position: relative;
      overflow: hidden;
      display: flex;
    }

    .disabled-screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.7;
      color: white;
      transition: opacity 0.2s;

      display: none;
    }

    // &:hover {
    //   transform: scale(1.05);

    //   .disabled-screen {
    //     opacity: 0.3;
    //   }
    // }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center;
    }

    &[disabled] {
      .disabled-screen {
        display: flex;
      }

      // cursor: default !important;
      // pointer-events: none;
    }
  }

  div.title {
    // background: white;
    padding: 5px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;

  .content {
    max-width: 600px;
    background: #fafafa;
    z-index: 11;
    overflow: hidden;
    border: 1.5px solid;

    .image {
      background: red;
      // height: 200px;
      aspect-ratio: 16/8;
      display: flex;
      border-bottom: 1.5px solid;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
      }
    }

    .text {
      // padding: 15px;

      .title-container {
        border-bottom: 1.5px solid;
        position: relative;

        h1 {
          font-size: 28px;
          font-weight: 300;
          padding: 20px;
          // border-right: 1.5px solid;
          flex-grow: 1;
        }

        a {
          background: lightblue;
          padding: 7px 12px;
          height: 100%;
          cursor: pointer;
          border: 1.5px solid;
          margin-right: 20px;
          border-radius: 50px;

          box-shadow: 3px 3px 0 lightgray;

          &:active {
            background: rgb(145, 186, 199);
          }
        }
      }

      .subtitle-container {
        border-bottom: 1.5px solid;
        display: flex;
        justify-content: space-between;

        div {
          padding: 10px 20px;
          opacity: 0.7;
          font-weight: normal;
          font-style: italic;
          // background: red;
        }

        div.subtitle {
          border-right: 1.5px solid;
          flex-grow: 1;
        }
      }

      div.scroll {
        overflow-y: scroll;
        max-height: 30vh;
        padding: 20px;

        p {
          white-space: pre-line;
        }
      }
    }
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffffee;
    // backdrop-filter: blur(15px);
    z-index: 10;
  }
}

// @media (prefers-color-scheme: dark) {
//   body {
//     background: #222;
//     color: #fafafa;
//   }

//   .boxed {
//     border-color: white;
//   }

//   #results-container .recording {
//     img {
//       border: none;
//     }

//     div.title {
//       color: #ddd;
//     }
//   }
// }
