@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #738695;
}

header {
  height: 100vh;
  background-image: url("../img/clouds.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header .quote {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  padding: 30px;
  max-width: 500px;
  margin: auto;
  -webkit-transform: translateY(4%);
          transform: translateY(4%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 200;
}

header .quote h1 {
  font-size: 2.2em;
  color: #ffffff;
  font-weight: inherit;
  font-style: italic;
}

header .quote h2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 20px;
  color: #ffffffcc;
  font-weight: inherit;
}

section h1 {
  margin-top: 20px;
  font-size: 2.2em;
  font-weight: 300;
}

section p {
  text-align: justify;
  line-height: 1.8em;
}

.o-meni .tekst {
  padding: 30px;
}

.o-meni .portret {
  width: 100%;
  min-height: 200px;
  background-image: url("../img/portret2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

@media screen and (min-width: 450px) {
  .o-meni .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
  }
  .o-meni .content .tekst {
    padding: unset;
  }
  .o-meni .content .portret {
    min-width: 200px;
    margin-left: 30px;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.o-psihoterapiji {
  background-image: url("../img/water3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.o-psihoterapiji .tekst {
  max-width: 800px;
  margin: auto;
  padding: 10% 30px;
  color: #ffffff;
}

.kontakt .tekst {
  padding: 30px;
  text-align: justify;
}

.kontakt .tekst ul {
  list-style-type: none;
  line-height: 1.8em;
  padding: 0;
}

.kontakt .tekst ul .nowrap {
  white-space: nowrap;
}

.kontakt .google-maps {
  margin-bottom: 50px;
}

.kontakt .google-maps iframe {
  width: 100%;
}

footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-image: url("../img/armchair2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
