/* montserrat-200 - latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../fonts/montserrat-v14-latin-ext-200.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-ext-200.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-200italic - latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("../fonts/montserrat-v14-latin-ext-200i.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-ext-200i.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-300 - latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat-v14-latin-ext-300.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-ext-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-latin-ext-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-ext-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #738695;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #285981;
}

::-moz-selection {
  background: #6fb6e026;
}

::selection {
  background: #6fb6e026;
}

header {
  height: 100vh;
  background-image: url("../img/clouds.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header .quote {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  padding: 30px;
  max-width: 500px;
  margin: auto;
  -webkit-transform: translateY(4%);
          transform: translateY(4%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 200;
}

header .quote h1 {
  font-size: 2.2em;
  color: #ffffff;
  font-weight: inherit;
  font-style: italic;
}

header .quote h2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 20px;
  color: #ffffffcc;
  font-weight: inherit;
}

section h1 {
  margin-top: 20px;
  font-size: 2.2em;
  font-weight: 300;
}

section p {
  text-align: justify;
  line-height: 1.8em;
}

.o-meni .content {
  margin: 5% auto;
}

.o-meni .tekst {
  padding: 30px;
}

.o-meni .tekst ul {
  list-style-type: none;
  line-height: 1.8em;
  padding: 0;
}

.o-meni .tekst ul li:before {
  content: "- ";
  position: absolute;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.o-meni .portret {
  width: 100%;
  min-height: 200px;
  background-image: url("../img/portret.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.o-psihoterapiji {
  background-image: url("../img/sea.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.o-psihoterapiji .tekst {
  max-width: 800px;
  margin: auto;
  padding: 10% 30px;
  color: #ffffff;
}

.kontakt .tekst {
  padding: 30px;
  text-align: justify;
}

.kontakt .tekst ul {
  list-style-type: none;
  line-height: 1.8em;
  padding: 0;
}

.kontakt .tekst ul .nowrap {
  white-space: nowrap;
}

.kontakt .google-maps {
  margin-bottom: 50px;
}

.kontakt .google-maps iframe {
  width: 100%;
}

footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-image: url("../img/armchair.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: .9em;
}

/* -------- media queries -------- */
@media screen and (min-width: 600px) {
  .tekst {
    margin: 5%;
  }
  .o-meni .portret {
    min-height: 350px;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 5% auto;
  }
  .tekst {
    max-width: 500px;
  }
  .portret {
    margin: 30px;
    padding-top: 30px;
    max-width: 500px;
  }
  .google-maps {
    margin: 30px;
    padding-top: 30px;
    min-width: 400px;
  }
  .google-maps iframe {
    height: 100%;
  }
}
