body {
  font-family: monospace;
  font-size: 20px;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #c5e5e9;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

body.won {
  background-color: #e0ffd3;
}

body.lost {
  background-color: #ffdfdf;
}

.content {
  height: 70vh;
  max-height: 500px;
  width: 80vw;
  max-width: 800px;
  padding: 30px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border: 2px solid black;
  background-color: #fafafa;
  -webkit-box-shadow: 5px 5px 0px #00000033;
          box-shadow: 5px 5px 0px #00000033;
}

.content .reset-btn,
.content .settings-btn {
  z-index: 3;
  position: absolute;
  top: 0;
  margin: 10px;
  cursor: pointer;
}

.content .reset-btn:hover,
.content .settings-btn:hover {
  opacity: 0.7;
}

.content .reset-btn {
  left: 0;
  width: 15px;
}

.content .settings-btn {
  right: 0;
  width: 18px;
}

.content .container-upper {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .container-upper .container-left {
  width: 50%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .container-upper .container-left .word-and-info {
  position: relative;
}

.content .container-upper .container-left .word-and-info .written-word {
  display: inline-block;
}

.content .container-upper .container-left .word-and-info a.info {
  z-index: 1;
  position: absolute;
  top: -13px;
  right: -13px;
}

.content .container-upper .container-left .word-and-info a.info img {
  width: 24px;
}

.content .container-upper .container-left .word-and-info a.info.hidden {
  display: none;
}

.content .container-upper .container-right {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .container-upper .container-right .countdown-img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10%;
}

.content .container-upper .container-right .checked-letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 180px;
  height: 46px;
}

.content .written-word,
.content .countdown-img,
.content .checked-letters {
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid black;
  -webkit-box-shadow: 5px 5px 0px #00000033;
          box-shadow: 5px 5px 0px #00000033;
}

.content .container-lower {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .container-lower form input {
  width: 30px;
  height: 25px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-family: monospace;
  font-size: 20px;
  background-color: #fafafa;
  text-align: center;
}

.content .settings {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 2px 0px #000000;
          box-shadow: 0px 2px 0px #000000;
  -webkit-transition: top 0.4s ease;
  transition: top 0.4s ease;
}

.content .settings.hidden {
  top: -105%;
}

.content .settings form label {
  cursor: pointer;
  line-height: 30px;
}

.content .loading-bar {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 7px;
  background-color: #8f8f8f;
  background-image: url("../img/loading.png");
  -webkit-transition: width ease 0.5s;
  transition: width ease 0.5s;
}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
    height: 80%;
  }
  .content .container-upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .container-upper .progress {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .content .container-upper .container-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 10px;
    width: unset;
  }
}
