* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "consolas", monospace;
  font-size: 15px;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fdeed8;
}

/* --------- Header --------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

header img {
  margin: 18px 24px;
  width: 16px;
  cursor: pointer;
  opacity: 20%;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  /*
		&.checked {
				opacity: 50%;
		
				&:hover {
						opacity: 60%;
				}
		
				&:active {
						opacity: 80%;
				}
		}
		*/
}

header img:hover {
  opacity: 30%;
}

header img:active {
  opacity: 50%;
}

header .restart-button {
  float: left;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

header .timer-button {
  float: right;
}

header input {
  position: absolute;
  opacity: 1;
}

/* --------- Main board --------- */
.board {
  max-width: 820px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*perspective: 1000px;*/
}

.memory-card {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 15px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
  -webkit-box-shadow: 5px 7px #00000011;
          box-shadow: 5px 7px #00000011;
}

.memory-card:hover {
  cursor: pointer;
}

.memory-card:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.memory-card.flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: -5px 7px #00000011;
          box-shadow: -5px 7px #00000011;
  cursor: default;
}

.memory-card.found {
  -webkit-transform: rotateY(180deg) translate(-3px, 4px);
          transform: rotateY(180deg) translate(-3px, 4px);
  /* ali (-3px, 3px) */
  -webkit-box-shadow: none;
          box-shadow: none;
}

.back-face, .front-face {
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 0px;
  border-radius: 3px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front-face {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: -webkit-filter 2s;
  transition: -webkit-filter 2s;
  transition: filter 2s;
  transition: filter 2s, -webkit-filter 2s;
}

/* --------- Floating messages --------- */
.winning-message, .timer {
  position: fixed;
  z-index: 3;
  border-radius: 4px;
  color: #ffffff;
  background-color: #000000b0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.winning-message {
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 25px 10px 25px;
}

.winning-message.show {
  top: -10px;
}

.winning-message button {
  margin-left: 20px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-bottom: 2px solid #9c9c9c;
}

.winning-message button:hover {
  background-color: #fbf8f4;
  cursor: pointer;
}

.winning-message button:active {
  background-color: #ede6de;
  border: none;
  outline: none;
  border-top: 2px solid #9c9c9c;
}

.timer {
  top: 40%;
  right: -90px;
  padding: 7px 20px 7px 10px;
}

.timer.show {
  right: -10px;
}

@media (max-width: 570px) and (orientation: landscape) {
  .board {
    margin: 10px 40px;
  }
  .memory-card {
    width: 60px;
    height: 60px;
    margin: 7px;
  }
  .back-face, .front-face {
    width: 60px;
    height: 60px;
  }
  .timer {
    top: 45%;
    right: -60px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    padding: 7px 10px 17px 10px;
  }
  .timer.show {
    right: -30px;
  }
  .winning-message {
    top: -50px;
    padding: 20px 25px 10px 25px;
  }
  .winning-message.show {
    top: -10px;
  }
}

@media (max-width: 330px) and (orientation: portrait) {
  .board {
    margin-top: 50px;
  }
  .memory-card {
    width: 60px;
    height: 60px;
    margin: 10px 7px;
  }
  .back-face, .front-face {
    width: 60px;
    height: 60px;
  }
  .timer {
    top: -50px;
    right: unset;
    padding: 17px 10px 7px 10px;
  }
  .timer.show {
    right: unset;
    top: -10px;
  }
  .winning-message {
    width: 100%;
    top: unset;
    bottom: -90px;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 20px 25px;
    border-radius: 0;
    -webkit-transition: bottom 1s;
    transition: bottom 1s;
  }
  .winning-message.show {
    top: unset;
    bottom: 55%;
  }
}
