/* lexend-500 - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/lexend-v18-latin-ext-500.woff2') format('woff2');
}
/* lexend-600 - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/lexend-v18-latin-ext-600.woff2') format('woff2');
}
/* lexend-700 - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lexend-v18-latin-ext-700.woff2') format('woff2');
}
