#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200; /* 100 je msg */
  background: #ffffffbb;
}

#modal .frame {
  min-width: 300px;
  max-width: 600px;

  background: ivory;
  /* background: #ebfaff; */
  padding: 1rem;
  border: thick ridge;
}

#modal .buttons {
  text-align: end;
}

#modal label#remember {
  font-weight: normal;
  user-select: none;
}

#modal button {
  background: lightblue;
}