* {
  box-sizing: border-box;
  font-family: Menlo, Consolas, monospace;
  font-size: 13px;

  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background: hsl(0, 0%, 10%);
  background: ivory;
}

// -- GENERAL STYLES

::selection {
  background: lightcoral;
}

button:active {
  transform: translateY(2px);
}

.boxed {
  padding: 3px 7px;

  background: transparent;
  border: 2px solid black;

  cursor: pointer;
  user-select: none;

  &:hover,
  &.checked {
    background: black;
    color: ivory;
  }
}

// -- MAIN

button.toggle-menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.menu-container {
  div.buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;

    display: flex;

    & > * {
      margin-left: 1rem;
    }
  }

  textarea {
    width: 300px;
    height: 400px;
    padding: 3px 5px;

    white-space: pre;
    background: transparent;
    border: 2px solid black;
    outline: none;

    // resize: none; // pusti, ker so lepe črtice
  }
}

.main {
  flex-direction: column;
  // max-width: 800px;

  .box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box {
    margin: 1rem;
    padding: 1rem;

    // text-align: center;

    &.target {
      pointer-events: none;
      user-select: none;
      // text-decoration: line-through;

      p {
        font-size: 3rem;
        font-family: 'Hoefler Text';

        &::before {
          content: ':';
        }
      }
    }

    &.guess {
      width: 250px;

      form {
        display: flex;
      }

      input {
        padding: 0 7px;
        width: 100%;

        border: 2px solid black;
        outline: none;
        background: transparent;

        &::placeholder {
          color: #00000033;
        }
      }

      button {
        padding: 7px;
        margin-left: 5px;

        background: black;
        color: ivory;

        border: none;
        outline: none;

        cursor: pointer;
      }
    }
  }

  .progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    // padding: 3px;

    #progressBar {
      width: 0; // will be set programatically
      height: 2px;
      background: black;
      transition: width 0.3s;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-7px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
