* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
}

.counter {
  position: relative;
  border-radius: 7px;
  
  margin: 10px;
  display: flex;
  border: 2px solid black;
  background: #fff;
  box-shadow: 5px 5px 0 rgba(132, 155, 237, 0.65);
  
  div.num-window {
    position: relative;
    overflow: hidden;
    
    margin: 5px;
    width: 40px;
    height: 50px;
    border: 2px solid black;
    background: #fff;
    font-family: Courier, monospace;
    font-size: 24px;
    
    box-shadow: inset 5px 5px 0 #00000016;
    border-radius: 3px;

    &:not(:nth-of-type(1)) {
      margin-left: 1px; // 1 => 2
    }

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background: rgba(255, 0, 72, 0.538);
      position: absolute;
      top: 47%;
    }

    .num {
      position: absolute;
      top: 5px;
      width: 50%;
      word-wrap: anywhere;
      text-align: center;
      line-height: 1.6;

      transition: transform 4s; // 1 => 1.2; poÄasi: 5s
      transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
