* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
}

.counter {
  position: relative;
  margin: 10px;

  display: flex;

  border: 2px solid black;
  border-radius: 8px;
  background: #fff;
  box-shadow: 5px 5px 0 rgba(132, 155, 237, 0.65);

  div.num-cell {
    position: relative;
    width: 40px;
    height: 50px;

    margin: 5px;

    border: 2px solid black;
    background: #fff;
    box-shadow: inset 5px 5px 0 #00000016;
    border-radius: 3px;

    font-family: Courier, monospace;
    font-size: 24px;

    overflow: hidden;

    &:not(:nth-of-type(1)) {
      margin-left: 1px; // 1 => 2
    }

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background: rgba(255, 0, 72, 0.538);
      position: absolute;
      top: 47%;
    }

    .num {
      position: absolute;
      top: 5px; // 5
      width: 50%;

      line-height: 1.5; //n 1.6
      word-wrap: anywhere;
      text-align: center;

      transition: transform 4s; // 1 => 1.2; poÄasi: 5s
      transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
