<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>učenje!</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.js"></script>
  </head>
  <body class="flex-center">
    <div class="main flex-center">
      <div class="mobile-screen flex-center" v-if="isMobile">[ mobile not supported ]</div>

      <!-- prettier-ignore -->
      <button class="toggle-menu boxed" v-show="validGuesses" type="button" @click="toggleMenu">{{ menuBtnString }}</button>

      <!-- MENU SCREEN -->
      <div class="menu-container" v-if="menuOpen">
        <textarea
          v-if="!helpOpen && !mistakesOpen"
          v-model="Qstring"
          @input="edited = true"
          spellcheck="false"
        ></textarea>
        <textarea v-if="helpOpen" @keydown.prevent spellcheck="false">{{ HELP_TEXT }}</textarea>
        <textarea v-if="mistakesOpen" spellcheck="false">{{ mistakes }}</textarea>

        <div class="buttons-container">
          <!-- prettier-ignore -->
          <button type="button" class="boxed" :class="{ checked: valuesSwitched }" @click="switchValues">q <=> a</button>
          <button type="button" class="boxed" :class="{ checked: helpOpen }" @click="openHelp">?</button>
          <button type="button" class="boxed" :class="{ checked: mistakesOpen }" @click="openMistakes">!</button>
        </div>
      </div>

      <!-- MAIN -->
      <div class="box-container" v-if="!menuOpen">
        <div class="box target">
          <p id="targetKeyword">{{ targetKey }}</p>
        </div>

        <div class="box guess">
          <form action="#" @submit.prevent="onEnter">
            <input type="text" v-model="inputValue" placeholder="odgovor" autocomplete="off" spellcheck="false" />
            <button class="boxed" type="submit">ok</button>
          </form>
        </div>
      </div>

      <div class="progress-container">
        <div class="progress" id="progressBar" v-if="!menuOpen" :style="{ width: score + '%' }"></div>
      </div>
    </div>

    <!-- TODO: remove -->
    <!-- <script src="js/vue@3.2.37.js"></script> -->
    <script src="js/Training.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
