<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>učenje!</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body class="flex-center">
    <div class="main flex-center">
      <!-- MENU OPEN -->
      <div class="textarea-container">
        <!-- prettier-ignore -->
        <button class="toggle-menu boxed" type="button" @click="toggleMenu">{{ menuBtnString }}</button>

        <textarea v-if="menuOpen && !helpOpen" v-model="Qstring" @input="edited = true" spellcheck="false"></textarea>
        <textarea v-if="menuOpen && helpOpen" v-model="HELP_TEXT" spellcheck="false"></textarea>

        <div class="buttons-container" v-if="menuOpen">
          <button type="button" class="boxed" :class="{ checked: valuesSwitched }" @click="switchValues">
            q <=> a
          </button>
          <button type="button" class="boxed" :class="{ checked: helpOpen }" @click="helpOpen = !helpOpen">?</button>
        </div>
      </div>

      <!-- MAIN -->
      <div class="box-container" v-if="!menuOpen">
        <div class="box target">
          <p id="targetKeyword">{{ targetKey }}</p>
        </div>

        <div class="box guess">
          <form action="#" @submit.prevent="onEnter">
            <input type="text" v-model="inputValue" placeholder="odgovor" autocomplete="off" spellcheck="false" />
            <button class="boxed" type="submit">ok</button>
          </form>
        </div>
      </div>

      <div class="progress-container">
        <div class="progress" id="progressBar" v-if="!menuOpen" :style="{ width: score + '%' }"></div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
    <script src="js/Training.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
