body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.info-bar {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.info-bar .bubble {
  position: relative;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9px;
  margin: 15px;
  padding: 4px 8px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 5px 20px 0px #88888844;
          box-shadow: 0px 5px 20px 0px #88888844;
  border-radius: 50px;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.info-bar .bubble.open {
  width: 170px;
}

.info-bar .bubble img {
  position: absolute;
  left: 4px;
  height: 18px;
  -webkit-transform: translate(-0.4px, -0.2px);
          transform: translate(-0.4px, -0.2px);
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.info-bar .bubble img:hover {
  opacity: 0.4;
}

.info-bar .bubble img:active {
  opacity: 0.5;
}

.info-bar .bubble svg {
  position: absolute;
  left: 3px;
}

.info-bar .bubble .copyright {
  direction: rtl;
  overflow: hidden;
  color: #5c5c5c;
}

.info-bar .bubble a {
  color: #556a79;
  text-decoration: none;
  font-weight: 400;
}

.slider {
  position: relative;
  height: 100%;
  width: 100%;
}

.slider-track-container {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
}

.slide .spinner {
  position: absolute;
  width: 100px;
  z-index: -1;
}

.slide .spinner.hidden {
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

.chart-div {
  width: 70%;
  height: 350px;
  padding: 20px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 10px 20px 0px #88888844;
          box-shadow: 0px 10px 20px 0px #88888844;
  border-radius: 8px;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  opacity: 1;
}

.chart-div.hidden {
  opacity: 0;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  width: 16px;
  cursor: pointer;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.nav-arrow:hover {
  opacity: 0.4;
}

.nav-arrow:active {
  opacity: 0.7;
}

.nav-arrow.hidden {
  display: none;
}

.nav-arrow-left {
  left: 5%;
}

.nav-arrow-right {
  right: 5%;
}

.nav-dots {
  position: absolute;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav-dots .nav-dot {
  margin: 0 8px;
  cursor: pointer;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.nav-dots .nav-dot:hover {
  opacity: 0.4;
}

.nav-dots .nav-dot:active {
  opacity: 0.7;
}

.nav-dots .nav-dot.active {
  opacity: 0.4;
}

@media (orientation: portrait) {
  .chart-div {
    height: 65vw;
  }
}

@media (orientation: portrait) and (max-width: 530px) {
  .nav-arrow-left {
    left: 2%;
  }
  .nav-arrow-right {
    right: 2%;
  }
}

@media (max-height: 530px) {
  .chart-div {
    height: 70vh;
  }
  .nav-dots {
    opacity: 0;
  }
}
