body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chart_div {
  width: 70vw;
  height: 25vw;
  opacity: 1;

  transition: opacity 0.8s;
}

.chart_div.hidden {
  opacity: 0;
}

.spinner {
  width: 100px;
  position: absolute;
  z-index: -1;

  transition: opacity 0.8s;
}

.spinner.hidden {
  opacity: 0;
}

@media (orientation: portrait) {
  @media (max-width: 800px) {
    .chart_div {
      width: 95vw;
      height: 60vw;
    }
  }
}

@media (orientation: landscape) {
  @media (max-width: 700px) {
    .chart_div {
      width: 95vw;
      height: 85vh;
    }
  }
}
