@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: Lexend, Helvetica, Arial, sans-serif; // Merriweather, Lato, *LEXEND*
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  touch-action: none;
}

#keyboard-switch {
  position: fixed;
  top: 0;
  left: 0;
  // padding: 5px 10px;
  // padding: 7px;
  aspect-ratio: 1;
  width: 27px;
  // height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;

  background: #e0e0e0;
  color: white;
}

#guess-grid-container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  // flex: 1;
  // flex-shrink: 0;
}

// GUESS GRID

#guess-grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  max-height: 350px;
  aspect-ratio: 4/5;

  gap: 5px;

  .row {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    // width: 280px;
    cursor: pointer;
    pointer-events: none;

    &.full.fixed {
      // ali samo .full
      pointer-events: all;
    }

    .letter {
      perspective: 100px;

      text-transform: uppercase;
      font-weight: 600;
      font-size: 28px;
      color: #000; // #444

      user-select: none;

      transform-style: preserve-3d;

      .front,
      .back {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
      }

      .front {
        border: 2px solid #d4d6da;
      }

      .back {
        transform: rotateX(180deg);
        color: white;
      }

      &.active .front {
        border-color: #888a8c;
        transition: border-color 0.2s;
        animation: enhance 0.2s;
      }
    }

    &.fixed .letter {
      transform: rotateX(180deg);
      transition: transform 1.2s;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transition-delay: ($i - 1) * 400ms;
        }
      }

      &.wrong .back {
        background: #787c7e;
      }

      &.displaced .back {
        background: #c8b458;
      }

      &.correct .back {
        background: #6baa64;
      }
    }
  }

  &.finished .row {
    transition: opacity 4s ease-in-out;
    transition-delay: 2s;

    &.fixed {
      opacity: 0.3;
    }

    &.correct {
      opacity: 1;
    }
  }
}

// KEYBOARD

.keyboard-container {
  --gap: 5px;

  padding: var(--gap);
  flex-shrink: 1;
  width: 100vw;

  #keyboard {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .keyboard-row {
      display: flex;
      gap: var(--gap);

      .letter {
        background: #d4d6da;
        flex: 1;
        height: 10vw;
        height: 48px;
        // aspect-ratio: 36/50;
        font-size: 20px;

        border-radius: 4px;
        user-select: none;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid darken(#d4d6da, 8);
        text-transform: uppercase;

        transition: all 0.15s;

        &[data-status='wrong'] {
          background: #787c7e;
          color: white;
          border-bottom-color: darken(#787c7e, 8);
        }

        &[data-status='displaced'] {
          background: #c8b458;
          color: white;
          border-bottom-color: darken(#c8b458, 8);
        }

        &[data-status='correct'] {
          background: #6baa64;
          color: white;
          border-bottom-color: darken(#6baa64, 8);
        }
      }

      .enter {
        font-size: 16px;
      }

      .size-half {
        flex: 0.5;
      }

      .size-double {
        flex: 2;
        padding: 0 var(--gap) / 2;
      }
    }
  }

  // MOBILE
  @media screen and (max-width: 700px) {
    #keyboard {
      gap: 5px;
      margin-bottom: 0px;

      .keyboard-row {
        gap: 4px;

        .letter {
          height: 42px;
          font-size: 18px;

          &.enter {
            font-size: 13px;
          }
        }
      }
    }
  }
}

// HIDDEN INPUT

input#hiddenInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

// ANIMATIONS

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-15px);
  }
  40% {
    transform: translateX(7px);
  }
  60% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes enhance {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
