<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>zastavice</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    <link rel="preconnect" href="https://flagcdn.com/" />
  </head>
  <body>
    <div class="main hidden">
      <!-- OPEN MENU BTN -->
      <!-- prettier-ignore -->
      <button class="open-menu-btn" v-if="!menuOpen && state !== 'LOADING'" @click="openMenu">
        <img src="img/gear_icon.png" alt="">
      </button>

      <!-- LOADING BAR -->
      <div class="preload-container" v-show="state === 'LOADING'">
        <progress id="preloadProgress" min="0" :max="allImgs" :value="loadedImgs"></progress>
      </div>

      <!-- ZASTAVICE -->
      <div class="box-container" v-show="!menuOpen && state !== 'LOADING'">
        <div class="box target" style="opacity: 0">
          <img alt="target" />
        </div>
        <div class="box guess" style="opacity: 0">
          <img alt="guess" />
        </div>
      </div>

      <!-- MENU -->
      <div class="form-container" v-show="menuOpen && state !== 'LOADING'">
        <!-- preload button -->
        <div class="buttons-container">
          <button type="button" class="btn btn-dim" @click="preloadImages()">preload images</button>
          <!-- prettier-ignore -->
          <button type="button" class="btn btn-dim" @click="lightTheme = !lightTheme">{{lightTheme ? 'temni način' : 'svetli način'}}</button>
        </div>

        <label v-for="r in allRegions"><input type="checkbox" :value="r" v-model="selectedRegions" />{{ r }}</label>
        <br />
        <!-- prettier-ignore -->
        <button type="submit" :disabled="!selectedRegions.length" class="btn submit-menu-btn" @click="selectedRegions.length && closeMenu()">ok</button>
      </div>

      <!-- INPUT -->
      <div class="text-input" v-show="!menuOpen && state !== 'LOADING'">
        <form @submit.prevent="onEnter">
          <input v-model="inputValue" type="text" name="" id="textInput" spellcheck="false" autocomplete="off" />
        </form>
      </div>

      <!-- progress -->
      <div class="progress-container">
        <div id="progressBar" :style="'width: ' + score + '%'"></div>
      </div>
    </div>

    <!-- <script src="js/vue@3.2.37.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="js/Animations.js"></script>
    <script src="js/Training.js"></script>
    <script src="js/flag_data.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
