<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>zastavice</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="main hidden">
      <!-- OPEN MENU BTN -->
      <!-- prettier-ignore -->
      <!-- <button class="btn open-menu-btn btn-dim" v-if="!menuOpen && ['GUESSING', 'HELP', 'INCORRECT'].includes(state)" @click="openMenu">options</button> -->

      <!-- LOADING BAR -->
      <div class="preload-container" v-show="state === 'LOADING'">
        <progress min="0" :max="allImgs" :value="loadedImgs"></progress>
      </div>

      <!-- ZASTAVICE -->
      <div class="box-container" v-if="!menuOpen && ['GUESSING', 'HELP', 'INCORRECT'].includes(state)">
        <div class="box target">
          <img :src="targetImg" alt="target" />
        </div>
        <div class="box guess" v-if="state === 'INCORRECT'">
          <img :src="guessImg" alt="guess" />
        </div>
      </div>

      <!-- MENU -->
      <div class="form-container" v-show="menuOpen && state !== 'LOADING'">
        <!-- preload button -->
        <button type="button" class="btn preload-imgs-btn btn-dim" @click="preloadImages()">preload images</button>

        <label v-for="r in allRegions"> <input type="checkbox" :value="r" v-model="selectedRegions" />{{ r }} </label>
        <br />
        <!-- prettier-ignore -->
        <button type="button" class="btn submit-menu-btn" @click="selectedRegions.length && closeMenu()">ok</button>
      </div>

      <!-- INPUT -->
      <div class="text-input" v-show="!menuOpen && ['GUESSING', 'HELP', 'INCORRECT'].includes(state)">
        <form action="#" @submit.prevent="onEnter">
          <input v-model="inputValue" type="text" name="" id="textInput" spellcheck="false" autocomplete="off" />
        </form>

        <!-- score -->
        <!-- <div class="score-meter">
          <span id="score">{{ score }}</span>
        </div> -->

        <!-- progress -->
        <div class="progress-container">
          <div id="progressBar" :style="'width: ' + score + '%'"></div>
        </div>

        <!-- worldwide -->
        <!-- <div class="mr-worldwide" :class="{ show: score >= 10 }">
          <img src="flags/worldwide.png" />
        </div> -->
      </div>
    </div>

    <!-- Vue -->
    <script src="js/vue@3.2.37.js"></script>
    <!-- <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.js"></script> -->
    <!-- main questions object -->
    <script src="js/Questions.js"></script>
    <script src="js/Training.js"></script>
    <!-- list of questions and answers -->
    <script src="flags/flag_data.js"></script>
    <!-- site logic -->
    <script src="js/main.js"></script>
  </body>
</html>
