/* raleway-regular - latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v15-latin-ext-regular.woff2") format("woff2"), url("../fonts/raleway-v15-latin-ext-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v15-latin-ext-700.woff2") format("woff2"), url("../fonts/raleway-v15-latin-ext-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: black;
  height: 100vh;
}

.bgnd {
  background-image: unset;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  -webkit-filter: contrast(90%);
          filter: contrast(90%);
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

.bgnd.hidden {
  opacity: 0;
}

.bgnd img {
  display: none;
}

footer {
  position: absolute;
  right: 40px;
  bottom: 12px;
  color: #ffffff;
  opacity: 60%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

.input-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  justify-items: center;
  padding: 10px;
}

.input-div .input-field {
  width: 360px;
  height: 14px;
  padding: 9px 40px 9px 18px;
  margin-left: auto;
  border-radius: 30px;
  border: none;
  opacity: 93%;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
  color: #4e4e4e;
  -webkit-transition: width 0.8s, padding 0.8s, color 0.8s;
  transition: width 0.8s, padding 0.8s, color 0.8s;
}

.input-div .input-field::-webkit-input-placeholder {
  color: #00000066;
  font-weight: 400;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
}

.input-div .input-field:-ms-input-placeholder {
  color: #00000066;
  font-weight: 400;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
}

.input-div .input-field::-ms-input-placeholder {
  color: #00000066;
  font-weight: 400;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
}

.input-div .input-field::placeholder {
  color: #00000066;
  font-weight: 400;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
}

.input-div .input-field:focus {
  outline: none;
}

.input-div .input-field.animated {
  width: 14px;
  padding: 10px 10px;
  color: #00000000;
}

.input-div .input-field.animated::-webkit-input-placeholder {
  color: #00000000;
}

.input-div .input-field.animated:-ms-input-placeholder {
  color: #00000000;
}

.input-div .input-field.animated::-ms-input-placeholder {
  color: #00000000;
}

.input-div .input-field.animated::placeholder {
  color: #00000000;
}

.input-div .dl-button {
  cursor: pointer;
  position: absolute;
  margin: 7px -28px;
  width: 18px;
  opacity: 25%;
  outline: none;
  -webkit-transition: opacity 0.3s, margin 0.8s;
  transition: opacity 0.3s, margin 0.8s;
}

.input-div .dl-button:hover {
  opacity: 40%;
}

.input-div .dl-button:active {
  opacity: 50%;
}

.input-div .dl-button.animated {
  margin: 8px -26px;
}

.input-div .tip {
  position: absolute;
  margin-left: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
  opacity: 0;
  white-space: nowrap;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.input-div .tip.show {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  opacity: 0.5;
}

.bounce-div {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: margin-top 0.8s;
  transition: margin-top 0.8s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  padding: 10px;
}

.bounce-div.animated {
  margin-top: 40px;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  75% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  75% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.progress-ring {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

.progress-ring.animated {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 0.5;
  visibility: visible;
}

.progress-circle {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-linecap: round;
  -webkit-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
}

@media (max-width: 640px) {
  .bgnd {
    height: 100vh;
  }
  .input-div .input-field {
    width: 60vw;
  }
  .input-div .tip {
    visibility: hidden;
  }
}
